/* CREAR-EDITAR EMPRESA */

.modalEmpresaTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d4d3d3;

}

.modalCrearEmpresaForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

.modalCrearEmpresaForm div {
    width: 500px;
}

.modalEmpresaBotones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    margin-top: 2rem;
    padding: 0.7rem;
}

.modalEmpresaBotones .modalBoton {
    border: 1px solid rgb(39, 155, 49);
    color: #d4d3d3;
    border-radius: 0.25rem;
    width: 10rem;
}

.modalEmpresaBotones .modalBoton:hover {
    background-color: rgb(39, 155, 49);
    color: black;
}

/* VER EMPRESA */

.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px; /* Ajusta según el diseño */
    max-height: 80vh; /* Limita la altura */
    overflow-y: auto; /* Habilita scroll vertical si el contenido es largo */
    box-sizing: border-box;
    padding: 1rem;
}

.modalContainer .containerBody {
    display: flex;
    flex-direction: column;
    text-align: center; /* Centra horizontalmente el texto */
    word-wrap: break-word; /* Asegura que el texto se ajuste */
    overflow-wrap: break-word;
    max-width: 100%; /* Evita que el contenido exceda el contenedor */
    
}



.modalContainer .modalBoton {
    border: 1px solid rgb(39, 155, 49);
    color: black;
    border-radius: 0.25rem;
    width: 10rem;
}

.modalContainer .modalBoton:hover {
    background-color: rgb(39, 155, 49);
    color: #d4d3d3;
}




