.mainContainer{
    border: none;
    text-align: center;
}
.clasificacionesContainer{
    width: 76%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2vh 4px 0 4px;
}
.textoAcciones{
    margin-top: 2vh;
    margin-left: 6rem;
} 