.productoContainer {
    text-align: center;
}

.productoContainer td{
    padding: 5px;
    max-width: 50px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.accionesContainer{
    text-align: center;
}

.accionesContainer button{
    background: none;
    border: none;
    cursor: pointer;
}
.accionesContainer button:hover{
    background-color: rgb(179, 184, 184);
}

.containerTablaProducto {
    max-height: 72vh;
    overflow-y: auto;
}