.principalContainerSideBarAdmin {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


@media (max-width: 768px) {
  .principalContainerSideBarAdmin {
    height: auto;
    flex-direction: column;
    gap: 1vw;
    
  }
}


.principalContainerSideBarAdmin h1 {
  font-size: 30px;
  margin: 30px;
  word-wrap: break-word;
}

.containerDivButtonEmpresa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  margin: 1rem 3rem;

}

.containerDivButtonEmpresa button {
  width: 100%;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .containerDivButtonEmpresa {
    height: auto;
    flex-direction: column;
    gap: 1vw;
    margin: 0 1rem;
    
  }
}
