.principalContainerSideBarAdmin {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4vh;

}

.headerSidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.sucursalSidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 0.25rem;
  background-color: white;
  padding: 1rem;
  align-items: center;
  margin: 0;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
}


@media (max-width: 768px) {
  .principalContainerSideBarAdmin {
    height: auto;
    flex-direction: column;
    gap: 1vw;

  }
}


.principalContainerSideBarAdmin h1 {
  font-size: 20px;
  margin: 20px;
  word-wrap: break-word;
}

.containerDivButtonEmpresa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  margin: 1rem 3rem;


}

.containerDivButtonEmpresa button {
  width: 100%;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .containerDivButtonEmpresa {
    height: auto;
    flex-direction: column;
    gap: 1vw;
    margin: 0 1rem;

  }
}