.containerNav {
  height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #198754;
  gap: 1rem;

}

.containerSucursal {
  color: #fff;
  font-size: 20px;
  margin-bottom: 7px;
}

.containerIcon {
  font-size: 50px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;

}

.containerIcon:hover {
  transform: scale(1.4);
  opacity: 0.5;
}