.containerNav {
  height: 10vh;
  display: flex;
  
  justify-items: left;
  justify-content: left;
  background-color: #198754;
}

.containerSucursal {
  color: #fff;
  font-size: 18px;
}

.containerIcon {
  font-size: 50px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.containerIcon:hover {
  transform: scale(1.4);
  opacity: 0.5;
}
