.principalContainerSidebar{
  display: flex;
  flex-direction: column; 
  align-items: center;     
}

.principalContainerSidebar h1{
  font-size: 30px;
  margin: 20px;
}

.containerDivButtonEmpresa{
margin: 20px;
}

