.containerCardEmpresa{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #198754 !important; 
    padding: 0.4rem;
    transition: 0.2s ease-in;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    overflow-x: hidden; 
    word-break: break-word; 
}

.containerCardEmpresa:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: #cfe3f6;
}

.containerCardEmpresa .cardEmpresaFooterContainer{
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: transparent;
    border-top: none;
    padding-bottom: 1rem;
   
}

.cardEmpresaFooterContainer .botonEmpresaHome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #198754;
    color: #f8f9fa;
    height: 2rem;
    width: 2rem;
  
}

.cardEmpresaFooterContainer .botonEmpresaHome:hover {
   
    border: 1px solid #198754; 
    color: #198754;
}