.containerGeneralBody{
    height: 90vh;
    padding: 20px;
    background-color: rgb(213, 212, 210);
}

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px;
}

/* PRODUCTOS */

.filtrarProductos{
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}

.filtrarProductos p{
    font-weight: bolder;
    margin-right: 8px;
    margin-top: 1%;
}

.headerContainer Button{
    width: 26vh;
    height: min-content;
}

/* MENU CATEGORIAS */

/* Estilo para el Dropdown */
.dropdownMenu {
    max-height: 600px; 
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-width: thin; 
    scrollbar-color: #4caf50 #f1f1f1; 
}




.divTablaAlergenos{
    margin-top: 13px;

}

