.cardHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.actionButtons {
    display: flex; 
    gap: 8px; 
}

.cardHeader Button{
    background-color: transparent;
    border: none;
}
.cardHeader Button:hover{
    background-color: rgb(220, 226, 226);
}
